*{font-family: 'Noto Sans KR'}
.point_sec{width:100%; height:auto; margin-bottom:70px;}
.point_sec .sub_tit{width:100%; height:auto; margin:50px 0;}
.point_sec .sub_tit h2{font-size:35px; text-align:center;}

.point{width:100%; height:auto; background:#e6f3f9; padding:20px 45px; box-sizing:border-box; margin-bottom: 60px;}
.point .p_text{float:left; padding:8% 0;}
.point .p_text h3{font-size:26px; padding-bottom:25px;}
.point .p_text p{font-size:18px; line-height:1.5;}
.point .p_text span{display:block;}
.point .p_img{float:right; width:22%; padding:10px 0;}
.point .p_img img{width:100%; height:auto;}

.point_guide{width:100%; height:auto;}
.point_guide h3{font-size:20px; padding-bottom:15px;}
.point_guide table{width:100%; height:auto; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; border-collapse:collapse;}
.point_guide table th{border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; background:#f4f7f8; width:25%; vertical-align:middle; font-weight:400;}
.point_guide table td{border-bottom:1px solid #e0e0e0; padding:25px 0 25px 25px; line-height:1.5;}

.point_info{width:100%; height:auto; margin-top:20px;}
.point_info li{font-size:14px; padding-bottom:8px; color:#888; line-height:1.3;}
.point_info li:before{content:"•"; font-size:12px; display:block; width:14px; height:18px; box-sizing:border-box; float:left; color:#888;}




/* media query style */

@media screen and (max-width:960px){

  .point .p_text h3{font-size:20px;}
  .point .p_text p{font-size:14px;}

  .point_guide table th{font-size:14px;}
  .point_guide table td{font-size:14px;}

  .point_info li{font-size:12px;}
}

@media screen and (min-width:300px) and (max-width:769px){

  .point{padding:20px 25px;}
  .point .p_img{display:none;}
  .point .p_text h3{font-size:18px;}
  .point .p_text p{font-size:12px;}
  .point .p_text span{display:inline; margin-left:5px;}

  .point_guide table th{font-size:12px;}
  .point_guide table td{font-size:12px; padding:25px 0 25px 12px;}

  .point_info li{font-size:10px;}

}




















/*  */
