 * { font-family: 'NanumBarunGothic'; }

 li{list-style:none;}
 input{font-family:inherit; font-size:inherit; line-height:inherit; letter-spacing:inherit; color:inherit; text-decoration:none; outline:none;}
 button{overflow:visible; cursor:pointer; border:0; border-radius:0; outline:none; font-size:inherit; line-height:inherit; letter-spacing:none;}

.bar_txt{padding-top:50px;}
.top_txt_sec{width:100%; height:auto; overflow:hidden; margin-bottom:114px;}
.top_txt_sec .top_txt{width:100%; height:auto; text-align:center; padding:25px 0;}
.top_txt_sec .top_txt h2{font-size:2em; color:#444;}

.listWrap{width:80%; margin:auto; height:auto; display:block; overflow:hidden;}
.listWrap .list{width:100%; height:auto; overflow:hidden; box-sizing:border-box; padding:20px 0; border-bottom:1px solid #e7e7e7; display:block;}
.listWrap .list .detail_list{display:block; float:left; width:100%; height:auto;}
.listWrap .list .detail_list li{width:100%; height:auto; overflow:hidden; display:block; box-sizing:border-box;}
.listWrap .list .detail_list li p{display:inline-block; font-size:18px; padding-left:20px; margin-top:8px;}
.listWrap .list .detail_list li p span{font-weight:400;}
.fa {float:right; padding-right:20px; display:inline-block; font-size:30px; color:#111;}

.down_list{width:100%; height:auto; display:none;}
.down_list .down_list_detail{width:83%; height:auto; float:right; margin:30px 0;}
.down_list .inlist{width:96%; margin:auto; height:auto;}
.down_list .inlist p:nth-child(1){display:block; box-sizing:border-box; padding-top:25px; font-size:16px; color:#555; line-height:1; font-weight:300;}
.down_list .inlist p:nth-child(2){display:block; box-sizing:border-box; font-size:16px; color:#555; line-height:2; font-weight:300;  padding-bottom:20px;}


.listWrap:nth-child(2) .list .detail_list li p span{padding-left:32px;}

@media screen and (max-width:530px){

  .bar_box{width:95%;}
  .listWrap{width:98%;}
  .faq_button_detail{width:20%;}
  .down_list .down_list_detail{width:95%; margin:auto;}
  .down_list .down_list_detail p {line-height:2;}
}























/* -- */
